$primary-color: #14213d;
$warning-color: #fca311;
$background-color: #f2f6fc;

$primary: $primary-color;
$warning: $warning-color;

@import '../node_modules/bootstrap/scss/bootstrap';

.custom-width {
  margin-left: auto;
  margin-right: auto;
  opacity: 0.99;
}

@media screen and (min-width: 992px) {
  .custom-width {
    margin-left: -100px;
    margin-right: -100px;
  }
}

@media screen and (max-width: 480px) {
  .opacity {
    opacity: 0.9;
    font-size: 80% !important;
  }
}
